
@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your styles.css or another CSS file */
.custom-gradient-bg {
  background-color: #0f1252; /* Fallback color */
  background-image: url('https://img.freepik.com/free-photo/abstract-2d-colorful-wallpaper-with-grainy-gradients_23-2151001609.jpg?t=st=1726251268~exp=1726254868~hmac=b70e934027b3fcada2d5e0cebb8e22a5dfe450f3de7b5c1d63bb5448d672cae3&w=1800');
  background-size: cover; /* Ensures the image covers the whole container */
  background-repeat:repeat; /* Prevents image repetition */
  z-index: -1;
}

/* GlowingHeader.css */
.glow {
  font-size: 3rem; /* Adjust size as needed */
  color: #fff; /* Text color */
  text-shadow: 
    0 0 5px #343447,  /* Red glow */
    0 0 10px #fdfdfd, 
    0 0 15px #0b97ba, 
    0 0 20px #595e74, 
    0 0 25px #79718b; 
}


@layer base {
  body {
    @apply font-secondary text-secondary bg-gradient-to-b from-[#FF3CAC] to-[#784BA0] to-[#2B86C5] bg-no-repeat;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary text-primary;
  }
  a {
    @apply text-secondary font-semibold hover:text-accent-primary_hover transition;
  }
  .btn {
    @apply text-lg h-[60px] px-[30px] rounded-full transition text-white;
  }
  .btn-primary {
    @apply bg-accent-primary hover:bg-accent-primary_hover;
  }
  .btn-secondary {
    @apply bg-accent-secondary hover:bg-accent-secondary_hover;
  }
  .btn-quaternary {
    @apply bg-white text-base font-bold text-primary drop-shadow-primary hover:bg-accent-primary_hover hover:text-white;
  }
  .h1 {
    @apply text-[40px] xl:text-[80px] font-bold leading-[1.1];
  }
  .h2 {
    @apply text-[40px] font-bold leading-tight;
  }
  .h3 {
    @apply text-[24px];
  }
  .lead {
    @apply text-lg text-secondary font-secondary font-medium leading-relaxed;
  }
}
