@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your styles.css or another CSS file */
.custom-gradient-bg {
  background-color: #0f1252; /* Fallback color */
  background-image: linear-gradient(225deg, #ECE7DD 0%, #ACB4BD 50%,#ECE7DD 100%);
  background-repeat: no-repeat;
}

@layer base {
  body {
    @apply font-secondary text-secondary bg-gradient-to-b from-[#FF3CAC] to-[#784BA0] to-[#2B86C5] bg-no-repeat;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary text-primary;
  }
  a {
    @apply text-secondary font-semibold hover:text-accent-primary_hover transition;
  }
  .btn {
    @apply text-lg h-[60px] px-[30px] rounded-full transition text-white;
  }
  .btn-primary {
    @apply bg-accent-primary hover:bg-accent-primary_hover;
  }
  .btn-secondary {
    @apply bg-accent-secondary hover:bg-accent-secondary_hover;
  }
  .btn-quaternary {
    @apply bg-white text-base font-bold text-primary drop-shadow-primary hover:bg-accent-primary_hover hover:text-white;
  }
  .h1 {
    @apply text-[40px] xl:text-[80px] font-bold leading-[1.1];
  }
  .h2 {
    @apply text-[40px] font-bold leading-tight;
  }
  .h3 {
    @apply text-[24px];
  }
  .lead {
    @apply text-lg text-secondary font-secondary font-medium leading-relaxed;
  }
}
